
<section id="loginForm">
    @using (Html.BeginForm("Test", "FunctionalForm", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
        @*@Html.AntiForgeryToken()*@

        <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Test Id: ", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <input type="text" id="TestId" name="id" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
               
    }
</section>

<section id="loginForm">
    @using (Html.BeginForm("ExportPdf", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
        @*@Html.AntiForgeryToken()*@

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Test Id: ", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <input type="text" id="TestId" name="id" value="" />
            </div>
        </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Export" class="btn btn-default" />
                    </div>
                </div>

    }
</section>

